{% load staticfiles %}
<form action={% url 'memo:loginForm' %} method="POST">{% csrf_token %}
	<table style="padding-top: 25%; text-align: center; margin: auto">
	  <tr>
	    <td><input name="user_id" tabindex="1" style="height: 35px" type="text" placeholder="Identity"/><br></td>
	    <td rowspan="2">
	      <input tabindex="3" style="height: 79px; width: 100px; margin-left: 8px" type="submit" value="Login"/>
	    </td>
	  </tr>
	  <tr>
	    <td><input name="user_pw" tabindex="2" style="margin-top: 5px; height: 35px" type="password" placeholder="Password"/></td>
	  </tr>
	  <tr>
	    <td>
	      <pre tabindex="4" style="width: 100%; text-align: right; opacity: 0.3; font-size: 8pt" onclick="viewPage('/user/sign');">You don't have a account?</pre>
	    </td>
	    <td></td>
	  </tr>
	</table>
</form>