{% load staticfiles %}
{{ error }}
{{ userid }}
<form action={% url 'memo:signForm' %} method="POST">{% csrf_token %}
	<table style="padding-top: 20%; text-align: center; margin: auto">
	  <tr>
	    <td><input name="user_id" tabindex="1" style="height: 35px" type="text" placeholder="Identity"/></td>
	  </tr>
	  <tr>
	    <td><input name="user_email" tabindex="2" style="margin-top: 5px; height: 35px" type="text" placeholder="Email"/></td>
	  </tr>
	  <tr>
	    <td><input name="user_pw" tabindex="3" style="margin-top: 10px; height: 35px" type="password" placeholder="Password"/></td>
	  </tr>
	  <tr>
	    <td><input name="user_pwagain" tabindex="4" style="margin-top: 10px; height: 35px" type="password" placeholder="Password Again"/></td>
	  </tr>
	  <tr>
	    <td><input tabindex="5" style="margin-top: 15px; width: 100%;" type="submit" value="Sign"/></td>
	  </tr>
	  <tr>
	    <td>
	      <pre style="width: 100%; text-align: right; opacity: 0.3; font-size: 8pt" onclick="viewPage('/user/login');">Already have a account</pre>
	    </td>
	  </tr>
	</table>
</form>